.MainContainer {
  width: 822.22px;
  height: 740px;
  border: blue 1px solid;
  position : absolute;
  left : 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .nextBtn {
    position: absolute;
    left : 30px;
    top : 30px;
  }
  
  .message { 
    font-size: 24px;
    color: #1a9659;
  }
}


.platesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 233.86px;
  border: blue 1px solid;
  justify-content: space-around;
  .cell {
    cursor: pointer;
    border-radius: 50%;
    border: red solid 1px;
    height: 66.12px;
    width: 103.03px;
    font-size: 30px;
    text-align: center;
    line-height: 66.12px;
    background-image: url("../PlatesGameImage/Plate.png");

    &:hover {
            
      transform: scale(1.5);
      transition: scale 0.25s ease-in;
      
    }
  }
}


.UserContainer{
  display: flex;
  width: 730px;
  height: 170.57px;
  justify-content: space-between;
  
  .userWrapper {
    background-color: #022213;
    border: 2px solid black;
    border-radius: 10%;
    width: 112.67px;
    height: 170.57px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  
    
    .userImage {
      width: 100px;
      height: 116.45px;
      border: blue 1px solid;
      // background-image: url("../PlatesGameImage/1.png");

    }

    .userName {
      color: #fcce3a;
    }
  }
}

